<div class="row">

  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3>
          SP8 and 3rd party Apps (alpha version).
          <input ng-model="shared.search" class="input pull-right" type="text" placeholder="Search apps">
        </h3>
      </div>
      <div class="panel-body">
        <p>Contact us at <a href="mailto:hbp_medicalinformatics@chuv.ch">hbp_medicalinformatics@chuv.ch</a>, if you would like your apps to appear here.</p>
      </div>
    </div>
  </div>
</div>

<div ng-repeat="category in apps_by_categories" class="row hbpapps">
  <div class="col-xs-12">
    <div class="panel app-group pull-left" style="margin-bottom: 12px">
      <div class="panel-heading">
        <h4 ng-bind="category.category + ': '"></h4>
      </div>
    </div>
  </div>
  <div ng-repeat="app in category.apps" class="col-xs-12 col-md-6 col-lg-4">
    <div class="panel" target="_blank">
      <div class="panel-heading">
        <h5 class="pull-left">
          <a ng-href="{{apps_base_url}}{{ app.link }}" ng-bind="app.name" target="_blank"></a>
        </h5>
        &nbsp;
        by
        <a ng-bind="app.author" ng-if="app.email" ng-href="mailto:{{app.email}}"></a>
        <span ng-bind="app.author" ng-if="!app.email"></span>
      </div>
      <div class="panel-body">
        <div>
          <a ng-href="{{apps_base_url}}{{ app.link }}" target="_blank">
            <img ng-src="{{logo_base_url}}{{ app.image }}" class="pull-left" width="80px" style="margin: 5px 15px 10px 5px">
          </a>
          <span ng-bind="app.description"></span>
        </div>
        <rating ng-model="shared.rating[app.id]" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
        (<span ng-bind="app.ratingCount"></span> vote<span ng-if="app.ratingCount > 1">s</span>)
      </div>
    </div>
  </div>
</div>


<!--div class="container-fluid mt">
  <pre>{{apps_by_categories}}</pre>
</div-->
