<div class="mt">
  <div class="container-fluid row">
    <div ng-if="loaded" ng-repeat="item in rows" ng-class="{A: 'col-xs-12 col-md-6', M: 'col-xs-12 col-sm-6 col-md-3'}[item.type]">
      <div class="panel panel-default ui-state-default panel-height-fixe">

        <!-- model -->
        <div class="panel-heading">
          <h2>{{item.data.title}}</h2>

          <div class="panel-ctrls button-icon-bg">
          </div>
        </div>
        <div class="panel-body panel-body-graph" ng-if="item.type === 'M'">
          <highchart config="item.data.chartConfig" ng-if="item.showChart"></highchart>
        </div>
        <a ng-href="#/models/{{item.data.slug}}/false" class="panel-link" ng-if="item.type === 'M'"><i>+</i></a>

        <!-- article -->
        <div class="panel-body panel-body-article" ng-if="item.type === 'A'">
          <div class="content">
            <p class="content-abstract" ng-bind-html="item.data.abstract"></p>
          </div>

          <div class="author-box">
            <a ng-href="#/users/{{item.data.createdBy.username}}" class="avatar">
              <img ng-src="{{item.data.createdBy.picture}}" alt="" class="avatar" />
            </a>
            by <a ng-href="#/users/{{item.data.createdBy.username}}">{{item.data.createdBy.fullname}}</a><br />
            <span class="time">{{item.data.createdAt | fromNow}}</span>
          </div>

          <div class="action">
            <a data-toggle="modal" href="" ng-click="showArticleModal(item.data)" class="icon-tl">
                                        <span class="icon-bg">
                                            <i class="icon-preview"></i>
                                        </span>
            </a>
            <a ng-href="" class="icon-tl" style="cursor:not-allowed;">
                                        <span class="icon-bg">
                                            <i class="icon-pdf"></i>
                                        </span>
            </a>
            <a ng-if="isMine(item.data)" href="#/articles/edit/{{item.data.slug}}" class="icon-tl">
                                        <span class="icon-bg">
                                            <i class="icon-html"></i>
                                        </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!loaded" class="text-center">
      <h1>
        <span class="fa fa-spin fa-spinner"></span>
        Loading data...
      </h1>
    </div>
    <div ng-if="loaded && !rows.length" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="panel" ng-if="isMyDataScope">
        <div class="panel-heading">My data</div>
        <div class="panel-body">
          Your data will be placed here, once you have some (either create a new model or a new article).
        </div>
      </div>
      <div class="panel" ng-if="!isMyDataScope">
        <div class="panel-heading">Community's data</div>
        <div class="panel-body">
          The community's data will be placed here. This consists of the statistical models and research articles written by fellow scientists.
          You can write  community models and articles by creating regular models and articles and by clicking "share" before saving.
        </div>
      </div>
    </div>
  </div>
</div>
