
<ul class="search-list" >
  <li ng-repeat="model in models" ng-init="config = get_config(model)">
    <div class="row">
      <div class="col-xs-8">
        <highchart config="config"></highchart>
      </div>
      <div class="col-xs-4">
        <h3 class="search-title"><a ui-sref="models-edit({ slug: model.slug })">{{model.title}}</a></h3>
        <div class="author-box">
          <span class="avatar">
            <img ng-src="{{model.createdBy.picture}}" alt="" class="avatar" />
          </span>
          by <span>{{model.createdBy.fullname}}</span><br />
          <span class="time">{{model.createdAt | fromNow}}</span>
        </div>
      </div>
    </div>
  </li>
  <li ng-if="!models || models.length == 0" class="mini-timeline-default">
    <div class="timeline-body ml-n">
      <div class="timeline-content">No model available</div>
    </div>
  </li>
</ul>

<button ng-if="models.length > 0" type="button" data-loading-text="Loading..." class="loading-example-btn btn btn-sm btn-default">See more</button>
