{
    "version": "{{ default .Env.VERSION "DEV" }}",
    "instanceName": "{{ default .Env.INSTANCE_NAME "HBP MIP Federation" }}",
    "mode": "{{ default .Env.MODE "federation" }}",
    "ga": "{{ default .Env.TRACKER_ID "UA-80660232-1" }}",
    "galaxyAPIUrl": "{{ default .Env.GALAXY_API_URL "http://localhost:8090/api" }}",
    "galaxyApacheUrl": "{{ default .Env.GALAXY_APACHE_URL "http://88.197.53.100/galaxy" }}"
}
