{
    "version": "{{ default .Env.VERSION "DEV" }}",
    "instanceName": "{{ default .Env.INSTANCE_NAME "HBP MIP" }}",
    "mode": "{{ default .Env.MODE "local" }}",
    "ga": "{{ default .Env.TRACKER_ID "UA-80660232-1" }}"
}
