{{ $backends := default .Env.PORTAL_BACKEND_SERVER "backend:8080" }}
{{ $backend_array := split $backends "," }}
upstream portal-backend {
{{ if (len $backend_array) gt 1 }}
  ip_hash;
{{   range $backend := split $backends "," }}
  server {{ $backend }} fail_timeout=60s weight=5;
{{   end }}
{{ else }}
  server {{ $backends }} fail_timeout=60s;
{{ end }}
}
