<div class="panel"
     style="max-width: 800px; margin-left: auto; margin-right: auto;">
  <div class="panel-heading">
    <h1>
      HBP MEDICAL INFORMATICS PLATFORM TERMS AND CONDITIONS
    </h1>
  </div>
  <div class="panel-body text-justify">

    <h4>
      I request access to data collected by the Human Brain Project Medical
      Informatics Platform (HBP-MIP) consortium for the purpose of scientific
      investigation, teaching or the planning of clinical research studies and
      agree to the following terms:
    </h4>
    <p>
      1. I will receive access to de-identified and aggregated data and will not
      attempt to establish the identity of, or attempt to contact any of the
      participants.
    </p>
    <p>
      2. I will not further disclose these data beyond the uses outlined in this
      agreement and my data use application.
    </p>
    <p>
      3. I will require anyone on my team who utilizes these data, or anyone
      with whom I share these data to accept and comply with this data use
      agreement.
    </p>
    <p>
      4. I will comply with any rules and regulations imposed by my institution
      and its institutional review board in requesting these data.
    </p>
    <p>
      5. I will ensure that Investigators who utilize HBP-MIP data use
      appropriate administrative, physical and technical safeguards to prevent
      use or disclosure of the data other than as provided for by this
      Agreement.
    </p>
    <p>
      6. I will report any use or disclosure of the data not provided for by
      this Agreement of which I become aware within 15 days of becoming aware of
      such use or disclosure. Reports/disclosures should be sent via email to
      hbp_medicalinformatics@chuv.ch.
    </p>
    <p>
      7. I confirm I have obtained individual access to the databases of ADNI
      and 3C.
    </p>
    <h4>

      If I publish abstracts or manuscripts using data from HBP-MIP, I agree to
      the following:
    </h4>
    <p>
      7. I will cite HBP-MIP as the source of data and the DOE funding source in
      the publication as space allows. Ex: "The imaging data and demographic
      information was collected and shared by [Centre Hospitalier Universitaire
      Vaudois, Hôpitaux Universitaires de Genève, Tel Aviv University, Ecole
      Polytechnique Fédérale de Lausanne, Josef Stefan Institute, Leiden
      University Medical Centre, University of Athens, University of Bordeaux,
      University College London, University of Uppsala, Athens University of
      Economics and Business] the HBP Medical Informatics Platform supported by
      the European Commission under Grant Agreement 604102."
    </p>
    <p>
      8. I will cite XXXX in all reports based on these data, as appropriate.
    </p>
    <p>
      9. I will include language similar to the following in the methods section
      of my manuscripts in order to accurately acknowledge data gathering by the
      HBP-MIP investigators. Depending upon the length and focus of the article,
      it may be appropriate to include more or less than the example below,
      however, inclusion of some variation of the language shown below is
      mandatory. "Data used in the preparation of this work were obtained from
      the ADNI, 3C and CHUV database through the HBP Medical Informatics
      Platform. The HBP-MIP project was supported by the European Commission
      under Grant Agreement 604102. HBP-MIP is the result of efforts of
      co-investigators from Centre Hospitalier Universitaire Vaudois, Hôpitaux
      Universitaires de Genève, Tel Aviv University, Ecole Polytechnique de
      Lausanne, Josef Stefan Institute, Leids Universitair Medisch Centrum,
      University of Athens, University of Bordeaux, University College London,
      University of Uppsala, Athens University of Economics and Business.
    </p>
    <p>

    </p>
    <p>
      I understand that failure to abide by these guidelines will result in
      termination of my privileges to access HBP-MIP data.
  </div>
  <div class="panel-footer">
    <p>
      <label for="agree">
        <input type="checkbox" id="agree" ng-model="agree">
        I accept the HBP <a href="/images/MIP%20TERMS%20OF%20USE_v2.pdf"
                            target="_blank">Medical Informatics Platform Terms
        of Use</a>.
      </label>
    </p>
    <button ng-click="agreeTos()" ng-class="agree ? 'btn-primary' : 'disabled'"
            class="btn btn-default">Proceed
    </button>
  </div>
</div>
