<div class="panel"
     style="max-width: 800px; margin-left: auto; margin-right: auto;">
  <div class="panel-heading">
    <h1>
      HBP MEDICAL INFORMATICS PLATFORM TERMS AND CONDITIONS
    </h1>
  </div>
  <div class="panel-body text-justify">

    <h4>
      I request access to data collected by the Human Brain Project consortium 
      for the purpose of scientific investigation, teaching or the planning of 
      clinical research studies and agree to the following terms:
    </h4>
    <p>
      1. I will receive access to de-identified and aggregated data and in such 
      cases will not attempt to establish the identity of, or attempt to 
      contact any of the participants.
    </p>
    <p>
      2. I will not further disclose these data beyond the uses outlined in 
      this agreement and my data use application.
    </p>
    <p>
      3. I will require anyone on my team who utilizes these data, or anyone 
      with whom I share these data to accept and comply with this data use 
      agreement.
    </p>
    <p>
      4. 4. I will comply with any rules and regulations imposed by my 
      institution(s) and its institutional review board in requesting these 
      data.
    </p>
    <p>
      5. I will ensure that Investigators who utilize HBP-MIP data use 
      appropriate administrative, physical and technical safeguards to prevent 
      use or disclosure of the data other than as provided for by this 
      Agreement.
    </p>
    <p>
      6. I will report any use or disclosure of the data not provided for by 
      this Agreement of which I become aware within 15 days of becoming aware 
      of such use or disclosure. Reports/disclosures should be sent via email 
      to www.hbp-pore.eu
    </p>
    <p>
      7. I agree to include the following acknowledgement in any publication 
      where the data set contributed significantly to its content: “Data in 
      this publication were provided by the HBP. The HBP has received funding 
      from the European Union’s Horizon 2020 research and innovation programme 
      under grant agreement No 65003.” In addition I agree to include any 
      additional acknowledgement of institutional support or specific funding 
      awards provided in the metadata accompanying the Data Set, including 
      those requested by the Contributor, in any publications where the Data 
      Set contributes significantly to its content. 
    </p>

  </div>
  <div class="panel-footer">
    <p>
      <label for="agree">
        <input type="checkbox" id="agree" ng-model="agree">
        I accept the HBP <a href="/images/MIP%20TERMS%20OF%20USE_v2.pdf"
                            target="_blank">Medical Informatics Platform Terms
        of Use</a>.
      </label>
    </p>
    <button ng-click="agreeTos()" ng-class="agree ? 'btn-primary' : 'disabled'"
            class="btn btn-default">Proceed
    </button>
  </div>
</div>
