.wrapper {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 200px auto 200px;
  grid-template-areas:
    "header  header  header"
    "sidebar content content";
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.Experiment {
  padding: 0 50px;
}

.Experiment h5 {
  font-weight: 700 !important;
  line-height: 1.2 !important;
}

.Experiment .panel-title {
}

.experiment-header {
  display: grid;
  grid-template-columns: auto 180px 180px;
}

.Experiment .item {
  align-self: center;
}

.Experiment .btn-info {
  font-weight: 700 !important;
}
