.App {
    background: url()top center no-repeat fixed  white !important;

  }

  .Experiments {
      margin: 0 2em;
  }

  .experiment-box {
  display: grid;
  grid-template-columns: 200px 300px;
  grid-gap: 0px;
}



.panel .panel-title {
  font-size: 13px;
  color: #666;
  font-weight: 700;
  background: #fafafa;
  background-color: #fafafa;
  padding: 0 16px;
  line-height: 53px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

var {
  display: block;
}
