body {
  background: #f5f5f5 url("../images/body-bg.jpg") top center no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

#main {
  float: left;
  width: 100%;
}

#sidebar {
  position: absolute;
  right: 20%;
  top:10px;
  width: 10%;
}

#sequence {
  width: 20%;
  height: 120px;
  font-size: 1.3em;
}

#legend {
  padding: 10px 0 0 3px;
/*  font-size: 1.2em;*/
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
  width: 100%;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 300px;
  left: 350px;
  width: 250px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
