.dataset-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .panel { margin: 0px }

    .dataset-container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 480px;
        overflow: hidden;

        .tab-content {
            overflow-y: auto;
            height: 480px;
        }
    }

    .active {
        background-color: green;
    }

    .dataset-column {
        flex: 1;
    }

    .dataset-footer {
        flex: 1;
        padding: 0.2em;
    }
}
