/* layout header */

.Explore .header {
  /* padding: 0 48px 0px 48px; */
}

.Explore .header .panel-body {
  display: flex;
  padding-top: 15px !important;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px !important;
}



/* layout content */

.Explore .content {
  display: flex;
  padding: 0 48px;
}

.Explore .content .column1 {
  margin-right: 8px;
  flex: 1.2;
}

.Explore .content .column2 {
  margin-right: 8px;
  flex: 1;
}

.Explore .content .sidebar {
  overflow: hidden;
  width: 240px;
  flex: 0 0 auto;
}

.Explore .content .sidebar {
  margin-right: 8px;
}

/* end layout */

.Explore .sidebar .model .panel-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Explore .sidebar .model .panel-title h3 {
  flex: 2;
}

.Explore .sidebar .model .panel-title button {
  margin: 12px 15px 0 0;
}

.Explore .content .panel-body {
  padding: 0 15px 16px 15px;
}

.Explore .content .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 8px 0;
  padding: 2px;
  border-bottom: 1px solid lightgray;
  /* background: rgb(236, 236, 236); */
  /* border-radius: 4px; */
}

.Explore .content .buttons .child-title {
  flex: 2;
  margin-left: 8px;
}

.Explore .content .buttons .child {
  flex: 1;
  margin-right: 4px;
}

.Explore .content .variable-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Explore .content .variable-box .child {
  flex: 1;
}

.Explore .content .variable-box .shortcuts {
  margin-top: 8px;
}

.Explore .content .variable-box .shortcuts input {
  margin-right: 8px;
  margin-left: -15px
}

.Explore .content .statistics {
  height: 529px;
}

.Explore .content .statistics .histograms {
  margin-top: 8px;
  padding: 8px 8px 0 8px;
  border: 1px solid lightblue;
  border-radius: 4px;
}

.Explore .content .model-body p {
  margin: 0;
}

.Explore .content .model-body p span {
  margin-right: 8px;
}

.Explore .content .statistics .nav > li > a {
  padding: 8px 4px;
}

.Explore .content .statistics .overview p {
  padding: 0;
  margin: 0;
}

.Explore .content .datasets .panel-title {
  margin-bottom: 15px
}


.Explore .content .datasets .panel-title .checkbox-inline {
  display: block !important;
}

.Explore .content .datasets .panel-title .checkbox-inline:last-child {
  margin-right: 15px;
}

.Explore .content .ia {
  margin-right: 15px;
}

.Explore .content .d3-link-hierarchy a:after {
  content: ' > ';
}

.Explore .content .d3-link-hierarchy a:last-child:after {
  content: '';
}

.Explore .content .d3-link-children a:after {
  content: ' | ';
}

.Explore .content .d3-link-children a:last-child:after {
  content: '';
}
