/* layout content */

.Explore .content {
  display: flex;
  padding: 0 48px;
}

.Explore .content .column {
  margin-right: 8px;
  flex-basis: 100%;
  flex: 1;
}

.Explore .datasets .panel-title {
  display: flex;
  align-items: center;
}

.Explore .datasets .panel-title h3 {
  margin-right: 32px;
}

.Explore .statistics {
  height: 529px;
}

.Explore .model-body {
  display: flex;
}

.Explore .model-body .btn-info,
.Explore .model-body a {
  white-space: normal;
  width: 150px;
}

.statistics .nav > li > a {
  padding: 8px 4px;
}
