.shortcuts .d3-link a:after {
  content: ' - ';
}

.shortcuts .d3-link a:last-child:after {
  content: '';
}

.shortcuts input {
  margin-right: 16px;
}

.shortcuts .d3-link-results {
  position: absolute;
  background-color: white;
  padding: 8px;
  z-index: 10 !important;
  border: 1px lightblue solid;
}

.shortcuts .d3-link-results a.selected {
  background-color: blueviolet;
}

.shortcuts .d3-link-results a {
  display: block;
}
