<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>Brain Project Portal</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="description" content="Human Brain Project">
  <base href="/">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <link rel="stylesheet" href="/tmp/vendor.css">
  <!-- /build -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="tmp/main.css" />
  <!-- /build -->

</head>

<body ng-app="chuvApp" class="ng-cloak" ng-cloak to-top-on-load>

  <!-- I have to ng-show instead of ng-if because I need the logout link to logout if i get 401s -->
  <header id="topnav" class="navbar navbar-default navbar-fixed-top" change-on-scroll role="banner" ng-cloak ng-show="isLoggedIn() && hasAgreedTos"
    ng-include="'scripts/app/header/header.html'" ng-controller="HeaderController"></header>
  <div id="wrapper">
    <div id="layout-static">
      <div class="static-content-wrapper">
        <div class="static-content">
          <div class="page-content" ui-view class="mainview-animation animated"></div>
        </div>
        <footer id="footer" role="contentinfo"
          ng-cloak ng-include="'scripts/app/footer/footer.html'"
          ng-controller="FooterController">
        </footer>
      </div>
    </div>
  </div>
  <div id="notifications" ng-controller="NotificationCtrl">
    <div ng-repeat="notification in notifications" class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-6 col-md-6 col-lg-offset-8 col-md-4">
      <div class="alert alert-dismissable" ng-class="'alert-' + (notification.type || 'info')" role="alert">
        <button type="button" class="close" ng-click="notification.dismiss()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <div ng-bind="notification.message"></div>
      </div>
    </div>
  </div>

  <!-- build:js scripts/vendor.js -->
  <script src="/tmp/vendor.js"></script>
  <!-- /build -->


  <!-- build:js scripts/scripts.js -->
  <script src="/tmp/scripts.js"></script>
  <!-- /build -->

  {{ if .Env.ANALYTICS }}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ .Env.TRACKER_ID }}', 'auto');

  </script> {{ end }}

</body>

</html>
