<div class="container-fluid">
  <div class="logo-area">

    <a class="navbar-brand" ui-sref="home">Human Brain Project</a>

    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg" ng-click="toggleLeftBar()" ng-show="!getLayoutOption('layoutHorizontal')">
			<a data-toggle="tooltips" data-placement="right" title="{{'header.menu.my-data' | translate}}" ui-sref="data({scope: 'mydata'})"  ui-sref-active="active">
				<span class="icon-bg">
					<i class="ti ti-menu"></i>
				</span>
      </a>
		</span>
		<span class="toolbar-trigger toolbar-icon-bg" >
			<a ui-sref="data({scope: 'communitydata'})" title="{{'header.menu.my-community' | translate}}"  ui-sref-active="active">
				<span class="icon-bg">
					<i class="ti ti-world"></i>
				</span>
      </a>
    </span>
  </div>
  <!-- logo-area -->

  <div class="app-instance-name">
    <h2>{{name}}</h2>
  </div>

  <ul class="nav navbar-nav toolbar pull-right">
    <li class="toolbar-icon-bg hidden-xs">
      <a ui-sref="explore" title="{{'header.menu.ee.title' | translate}}" ui-sref-active="active">
        <span class="icon-bg"><i>{{'header.menu.ee' | translate}}</i></span>
      </a>
    </li>

    <li class="toolbar-icon-bg hidden-xs">
      <a ng-click="go_to_review" title="{{'header.menu.ia.title' | translate}}" ui-sref-active="active">
        <span class="icon-bg"><i>{{'header.menu.ia' | translate}}</i></span>
      </a>
    </li>

    <running-experiments></running-experiments>

    <li class="uib-dropdown toolbar-icon-bg">
      <a href="#" class="uib-dropdown-toggle username" data-toggle="dropdown" data-position="right">
        <img class="img-circle" ng-src="{{user.picture}}" alt="{{user.fullname}}"/>
      </a>
      <ul class="dropdown-menu userinfo arrow">
        <li><a ui-sref="profile"><i class="ti ti-user"></i><span>{{'header.menu.profile' | translate}}</span></a></li>
        <li><a href="https://mip.humanbrainproject.eu/help/" target="_blank">
          <i class="ti ti-settings"></i><span>{{'header.menu.settings' | translate}}</span>
        </a></li>
        <li class="divider"></li>
        <li>
          <a href="" id="logout-link" ng-click="logout()"><i class="ti ti-shift-right"></i><span>{{'header.menu.signout' | translate}}</span></a></li>
      </ul>
    </li>
    <li class="toolbar-trigger toolbar-icon-bg">
      <a href="https://hbpmedical.github.io/documentation/HBP_SP8_UserGuide_latest.pdf" target="_help" title="Knowledge base">
        <span class="icon-bg" style="font-weight: 900">?</span>
      </a>
    </li>
    <li class="toolbar-trigger toolbar-icon-bg">
      <a ui-sref="hbpapps" title="{{'header.menu.app' | translate}}">
                <span class="icon-bg">
                    <i class="ti ti-layout-grid3-alt " style="font-family: 'themify';font-weight: normal;"></i>
                </span>
      </a>
    </li>
  </ul>

</div>
