.Experiment {
  display: grid;
  padding: 0 48px;
  grid-gap: 8px;
  grid-template-columns: 200px auto 200px;
  grid-template-areas:
    "header  header  header"
    "sidebar content content";
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.header .panel {
  margin-bottom: 0px !important;
}

.Experiment h5 {
  font-weight: 700 !important;
  line-height: 1.2 !important;
}

.experiment-header h3 {
  padding: 0;
  margin: 8px 0 0 0;
}

.experiment-container {
  display: grid;
  grid-template-columns: auto 190px 200px;
}

.Experiment .item {
  align-self: center;
}

.Experiment .btn-info {
  font-weight: 700 !important;
}

var {
  font-style: normal;
}

.content .nav-tabs>li>a {
  color: #03a9f4;
  border-width: 0 0 1px;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  text-transform: capitalize;
}

.content .nav-tabs li.active a,
.content .nav-tabs li.active a:focus,
.content .nav-tabs li.active a:hover {
  color: #616161;
  font-weight: 700;
}

.tab-pane {
  border: 0.5px #eeeeee solid;
  padding: 1em;
}
