<div class="explore">
  <div class="row" ng-if="loaded">
    <div class="col-md-6">
      <circle-packing></circle-packing>
    </div>
    <div class="col-md-6">
      <variable-statistics></variable-statistics>
      <variable-configuration
          set-focused-variable="set_focused_variable"
          set-variable-selected-as="use_variable_as"
          get-focused-variable="get_focused_variable"
          configuration="configuration"></variable-configuration>
    </div>
    <div class="col-xs-12" style="margin-top: -60px">
      <button ng-if="has_valid_configuration()" ng-click="go_to_review();" class="center-block btn-round" style="display: block">
        <span style="margin-top: 5px">
          <span class="ng-binding">Review model</span>
          <i class="ti ti-arrow-down"></i>
        </span>
      </button>
    </div>

  </div>
  <div ng-if="!loaded" class="text-center">
    <h1>
      <span class="fa fa-spin fa-spinner"></span>
      Loading data...
    </h1>
  </div>
</div>
