<div class="panel explore-box">

  <div class="panel-heading" style="flex: 1">
    <h2>3. Add variables to Model</h2>
  </div>

  <div class="panel-body" style="flex: 1">
    <div class="explore-container">
      <button style="flex: 1 1 25%; margin: 0 0.2em" class="btn btn-primary btn-sm ng-click-active" ng-class="!getFocusedVariable() || !getFocusedVariable().isVariable ? 'disabled' : ''"
        ng-bind="get_button_label('variable')" ng-click="setVariableSelectedAs('variable', getFocusedVariable())">
        as variable
      </button>
      <button style="flex: 1 2 50%; margin: 0 0.2em" class="btn btn-primary btn-sm ng-click-active" ng-class="!getFocusedVariable() ? 'disabled' : ''"
        ng-bind="get_button_label('covariable')" ng-click="setVariableSelectedAs('covariable', getFocusedVariable())">
        as covariable
      </button>
      <button style="flex: 1 1 25%; margin: 0 0.2em" class="btn btn-primary btn-sm ng-click-active" ng-class="!getFocusedVariable() ? 'disabled' : ''"
        ng-bind="get_button_label('filter')" ng-click="setVariableSelectedAs('filter', getFocusedVariable())">
        as filter
      </button>
    </div>

    <div class="explore-container">
        <div class="variable transparent column">
          <h3>Variable</h3>
          <div ng-repeat="(code, variable) in configuration.variable" class="overflow-hidden">
            <a ng-click="setVariableSelectedAs('variable', variable)" class="btn btn-default btn-xs">
              <i class="ti ti-close"></i>
            </a>
            <a ng-bind="variable.label" ng-click="setFocusedVariable(variable)"></a>
          </div>
        </div>

        <div class="grouping transparent column">
          <h3>Nominal</h3>

          <div ng-repeat="(code, variable) in configuration.grouping" class="overflow-hidden">
            <a ng-click="setVariableSelectedAs('grouping', variable)" class="btn btn-default btn-xs">
              <i class="ti ti-close"></i>
            </a>
            <a ng-bind="variable.label" ng-click="setFocusedVariable(variable)"></a>
          </div>
        </div>

        <div class="covariable transparent column">
          <h3>Continuous</h3>
          <div ng-repeat="(code, variable) in configuration.covariable" class="overflow-hidden">
            <a ng-click="setVariableSelectedAs('covariable', variable)" class="btn btn-default btn-xs">
              <i class="ti ti-close"></i>
            </a>
            <a ng-bind="variable.label" ng-click="setFocusedVariable(variable)"></a>
          </div>
        </div>

        <div class="filter transparent column">
          <h3>Filters</h3>
          <div ng-repeat="(code, variable) in configuration.filter" class="text-nowrap overflow-hidden">
            <a ng-click="setVariableSelectedAs('filter', variable)" class="btn btn-default btn-xs">
              <i class="ti ti-close"></i>
            </a>
            <a ng-bind="variable.label" ng-click="setFocusedVariable(variable)"></a>
          </div>
        </div>
      </div>
    </div>

</div>
