/* layout header */

.Experiment.Result {
  display: flex;
  flex-direction: column;
}

.Experiment .header {
  flex-basis: 100%;
}

.Experiment .header .panel-body {
  display: flex;
  padding-top: 15px !important;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px !important;
}

.Experiment .header .panel-body .item {
  margin-right: 8px;
}

.Experiment .header .panel-body .text {
  flex: 2;
}

.Experiment .header .panel-body .item:last-child {
  margin-right: 0;
}

.Experiment .header .panel-body h3 {
  flex: 2;
  margin: 0 0 0 16px;
}

.Experiment.Result .header .panel-body h3 {
  margin: 0 !important;
}

/* layout content */

.Experiment .content {
  flex-basis: 100%;
  display: flex;
}

.Experiment .content .sidebar,
.Experiment .content .sidebar2 {
  overflow: hidden;
  width: 240px;
  flex: 0 0 auto;
}

.Experiment .content .sidebar {
  margin-right: 8px;
}

.Experiment .content .sidebar2 {
  margin-left: 8px;
}

.Experiment .sidebar2 .panel-body {
  margin-bottom: 16px;
}

.Experiment .content .parameters,
.Experiment .content .results {
  flex: 1 auto;
}

/* design content */

.Experiment .content .nav-tabs > li > a {
  color: #03a9f4;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  text-transform: capitalize;
}

.Experiment .content .nav-tabs li.active a,
.Experiment .content .nav-tabs li.active a:focus,
.Experiment .content .nav-tabs li.active a:hover {
  color: #616161;
  font-weight: 700;
}

.Experiment .content .tab-pane {
  border: 0.5px #eeeeee solid;
  padding: 1em;
}

.Experiment .content .method a {
  font-size: 1em;
  font-weight: bold;
}

.Experiment .content fieldset {
  border: 1px solid lightgrey !important;
  padding: 8px;
  margin-bottom: 16px;
}

.panel-title h3 {
  padding-left: 16px;
}

.alert {
  position: absolute;
  z-index: 10;
}

.Experiment .sidebar .model .panel-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Experiment .sidebar .model .panel-title h3 {
  flex: 2;
}

.Experiment .sidebar .model .panel-title button {
  margin: 12px 15px 0 0;
}

.Experiment .sidebar2 .panel-body {
  padding-top: 0;
}

.method button {
  white-space: normal;
  text-align: left;
}
