/* layout header */

.Model .header .panel-body {
  display: flex;
  padding-top: 15px !important;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px !important;
}

.Model .header .panel-body .item {
  margin-right: 8px;
}

.Model .header .panel-body .item:last-child {
  margin-right: 0;
}

.Model .header .panel-body h3 {
  flex: 2;
  margin: 0 0 0 16px;
}

/* layout content */

.Model .content {
  display: flex;
}

.Model .content .results {
  flex: 1 auto;
}

.Model .content .sidebar,
.Model .content .sidebar2 {
  overflow: hidden;
  width: 240px;
  flex: 0 0 auto;
}

.Model .content .sidebar {
  margin-right: 8px;
}

.Model .content .sidebar2 {
  margin-left: 8px;
}

/* design content */

.Model .content .nav-tabs > li > a {
  color: #03a9f4;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  text-transform: capitalize;
}

.Model .content .nav-tabs li.active a,
.Model .content .nav-tabs li.active a:focus,
.Model .content .nav-tabs li.active a:hover {
  color: #616161;
  font-weight: 700;
}

.Model .content .tab-pane {
  border: 0.5px #eeeeee solid;
  padding: 1em;
}

.Model .sidebar .model .panel-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Model .sidebar .model .panel-title h3 {
  flex: 2;
}

.Model .sidebar .model .panel-title button {
  margin: 12px 15px 0 0;
}

.Model .filters .panel-title h3 {
  margin-left: 16px;
  margin-bottom: 12px;
  width: 120px;
}
