.shortcuts .d3-link a:after {
  content: ' - ';
}

.shortcuts .d3-link a:last-child:after {
  content: '';
}

.shortcuts input {
  margin-right: 16px;
}

.shortcuts .d3-link-results {
  position: absolute;
  background-color: white;
  padding: 8px;
  border: 1px lightblue solid;
  margin: 2px 0 0 -16px;
  border-radius: 4px;
  cursor: pointer;
}

.shortcuts .d3-link-results a.selected {
  text-decoration: underline;
}

.shortcuts .d3-link-results a {
  display: block;
}
