<div ui-draggable="true" drag="get_drag_data()">

  <h3 class="search-title">
    <a ui-sref="models-edit({slug: model.slug})" ng-bind="model.title"></a>
  </h3>
  <span class="search-img">
    <div ng-if="config">
      <highchart config="config" ng-if="!svg"></highchart>
      <img ng-src="{{ svg }}">
    </div>
  </span>
  <div class="author-box">
    <span class="avatar">
      <img ng-src="{{model.createdBy.picture}}" alt="" class="avatar" />
    </span>
    by <span>{{model.createdBy.fullname}}</span><br />
    <span class="time">{{model.createdAt | fromNow}}</span>
    <other-experiments model-slug="model.slug" only-positive="true" minimal="true"></other-experiments>
  </div>
</div>
