<div class="panel panel-transparent box-researches">
  <div class="panel-heading">
    <h2>Models</h2>
  </div>
  <div class="panel-body">
    <form class="form">
      <div class="icheck-minimal">
        <div class="checkbox red">
          <label>
            <input type="checkbox" ng-model="mine" ng-change="onChangeMine({checked:mine})"> Only mine
          </label>
        </div>
      </div>
    </form>
    <div class="search-list">
      <ul>
        <li ng-repeat="item in items">
          <carrousel-chart model="item"></carrousel-chart>
        </li>
      </ul>
      <carroussel-button class="carrousel-button carrousel-down" icon-class="ti ti-angle-down" on-click="onClickBtnDown(event)"></carroussel-button>
      <carroussel-button class="carrousel-button carrousel-up" icon-class="ti ti-angle-up" on-click="onClickBtnUp(event)"></carroussel-button>
    </div>
  </div>
</div>
