.App {
  background: url(../../images/body-bg.jpg) top center no-repeat fixed #f5f5f5;
  background-size: 100% auto;
  overflow-x: hidden;
}

.App section {
  margin-top: 116px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #616161;
}

body {
  background: url(../../images/body-bg.jpg) top center no-repeat fixed #f5f5f5;
  background-size: 100% auto;
  overflow-x: hidden;
}
