<div ng-controller="ConfigurationController">
  <div class="col-md-4">
    <div class="info-tile tile-blue tile-sidebar" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
      <div class="tile-heading"><span>Static view</span></div>
      <div class="tile-body">
        <ul class="list-graphs text-left">
          <li>
            <a href="" ng-click="changeGraphType('designmatrix')" ng-class="{active : chartConfig.type == 'designmatrix'}"><i class="ti ti-custom-bar-chart graph-plot"></i></a>
          </li>
          <li>
            <a href="" ng-click="changeGraphType('column')" ng-class="{active : chartConfig.type == 'column'}"><i class="ti ti-custom-bar-chart graph-column"></i></a>
          </li>
          <li>
            <a href="" ng-click="changeGraphType('line')" ng-class="{active : chartConfig.type == 'line'}"><i class="ti ti-custom-bar-chart graph-area"></i></a>
          </li>
          <li>
            <a href="" ng-click="changeGraphType('pie')" ng-class="{active : chartConfig.type == 'pie'}"><i class="ti ti-custom-bar-chart graph-pie"></i></a>
          </li>
          <li>
            <a href="" ng-click="changeGraphType('scatter')" ng-class="{active : chartConfig.type == 'scatter'}"><i class="ti ti-custom-bar-chart graph-scatter"></i></a>
          </li>
        </ul>
      </div>

      <div class="tile-heading"><span>Show</span></div>
      <div class="tile-body">
        <ul class="list-axe">
          <li>
            AXE X
            <ul>
              <li ng-repeat="xAxe in dataset.header">
                <a href="" ng-click="changeXaxis(xAxe)" ng-class="chartConfig.hasXAxis && chartConfig.xAxisVariable == xAxe ? 'active' : ''">
                  <span>{{xAxe}}</span>
                  <i class="ti ti-check"></i>
                </a>
              </li>
            </ul>
          </li>
          <li>
            AXE Y
            <ul>
              <li ng-repeat="yAxe in dataset.header">
                <a href="" ng-click="enableYAxe(yAxe)" ng-class="chartConfig.yAxisVariables.indexOf(yAxe) >= 0 ? 'active' : ''">
                  <span>{{yAxe}}</span>
                  <i class="ti ti-check"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
