<div class="modal-body">

  <accordion close-others="false">
    <!--accordion-group ng-if="estimation.parameters.length" is-open="true">
      <accordion-heading>
        <span class="ti ti-panel"></span>
        Parameters
      </accordion-heading>

      <table class="table">
        <tr ng-repeat="parameter in estimation.parameters">
          <th>
            <label ng-bind="parameter.label" for="{{ parameter.id }}"></label>
          </th>
          <td ng-switch="parameter.type">
            <select ng-switch-when="select"
                    class="form-control"
                    ng-model="parametrization[parameter.id]"
                    id="{{ parameter.id }}"
                    ng-options="o as o for o in parameter.options"></select>
            <input ng-switch-when="number"
                   class="form-control"
                   ng-model="parametrization[parameter.id]"
                   id="{{ parameter.id }}"
                   type="number">
          </td>
        </tr>
      </table>
    </accordion-group-->

    <accordion-group is-open="help_is_open">
      <accordion-heading>
        <span class="ti ti-help-alt"></span>
        Help
      </accordion-heading>

      <div class="panel-body" btf-markdown="estimation.help"></div>
    </accordion-group>

    <accordion-group ng-if="result" is-open="true">
      <accordion-heading>
        <span class="ti ti-check-box"></span>
        Results
      </accordion-heading>

      <div style="margin: -16px -16px 0 -16px" class="table-responsive">
        <table class="table table-striped table-bordered">
          <tr>
            <th>Variable</th>
            <th>Coefficients</th>
            <th>Standard Error</th>
            <th>T-value</th>
            <th>Pr(>|t|)</th>
          </tr>
          <tr ng-repeat="field in result.input.fields" ng-init="name = field.name">
            <td ng-bind="name"></td>
            <td ng-bind="result.cells.coefficients.init[name]"></td>
            <td ng-bind="result.cells.summary.init.coefficients[name].std_error"></td>
            <td ng-bind="result.cells.summary.init.coefficients[name].t_value"></td>
            <td ng-bind="result.cells.summary.init.coefficients[name].p_value"></td>
          </tr>
        </table>
      </div>
      <div>
        <p>
          <b>Degrees of freedom: </b>
          <span ng-bind="result.cells.summary.init.degrees_freedom[1]"></span>
        </p>
      </div>
    </accordion-group>
  </accordion>

  <div class="clearfix">
    <button class="btn btn-default pull-right"
            style="margin-left: 10px"
            ng-click="$close()">
      Close
    </button>
    <button class="btn btn-primary pull-right"
            ng-class="parametrization_is_correct(estimation_id) ? '' : 'disabled'"
            ng-click="run_estimation(estimation_id)">
      Run estimation
    </button>
  </div>
</div>
