<div ng-controller="EstimationController">
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <h2>Estimate model</h2>
      </div>
      <div class="panel-body">
        <a ng-click="open_experiment()" class="btn btn-primary" >Run Machine Learning Experiment</a>
        <!--<div ng-repeat="possible_estimation in possible_estimations">-->
          <!--<label>-->
            <!--<input type="radio" id="estimation_{{ possible_estimation.id }}"-->
                   <!--name="chosen_estimation"-->
                   <!--value="{{ possible_estimation.id }}"-->
                   <!--ng-disabled="{{ possible_estimation.disabled }}"-->
                   <!--ng-model="shared.chosen_estimation">-->
            <!--<span ng-bind="possible_estimation.label"></span>-->
          <!--</label>-->
        <!--</div>-->
      </div>

    </div>
  </div>
</div>
