<div ng-controller="ModelFooterController">
  <section class="toolbar-footer section-save-graph" style="margin-top: 25px">
    <div class="toolbar-container">
      <form>
        <div class="container-fluid">
          <div class="iaFooter">
            <div class="title">
              <div class="">
                <label class="txt">{{'model.yours.title' | translate}}</label>
                <input type="text" ng-model="chartConfig.title.text" ng-disabled="!isMine()" />
              </div>
            </div>
            <div class="buttons">
              <ul class="nav navbar-nav pull-right toolbar disabled">
                <li ng-if="isMine()">
                  <div class="checkbox" ng-if="isMine()">
                    <label>
                      <input type="checkbox" ng-model="model.valid" />
                      {{'model.validate' | translate}}
                    </label>
                  </div>
                </li>
                <li ng-if="isMine()">
                  <button type="submit" ng-click="saveModel()" class="btn-round">
                    <span>
                      <span>{{'common.save' | translate }}</span>
                      <i class="ti ti-arrow-down"></i>
                    </span>
                  </button>
                </li>
                <li class="toolbar-icon-bg hidden-xs">
                  <a href="" ng-click="copyModel()" ng-if="!isNew()"><span class="icon-bg"><i class="ti ti-files"></i></span></a>
                </li>
                <button ng-click="open_experiment()" class="btn btn-primary" style="height: 44px;">Run Machine Learning Experiment</button>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
