
.bsd {
  top: 8px !important;
}

.img-circle {
  border-radius: 50%;
}
[role="button"] {
  cursor: pointer;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}

.container-fluid:before,
.container-fluid:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}
.container-fluid:after,
.nav:after,
.navbar:after,
.panel-body:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

var {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.highcharts-container {
  display: block;
  width: 100%;
  max-width: 100%;
}
.app-instance-name {
  float: left;
  margin: 20px;
}
.app-instance-name h2 {
  font-size: 48px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 32px;
  text-transform: uppercase;
}

@media print {
  img,
  tr {
    page-break-inside: avoid;
  }
  *,
  :after,
  :before {
    background: 0 0 !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after {
    content: "";
  }
  thead {
    display: table-header-group;
  }
  img {
    max-width: 100% !important;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret {
    border-top-color: #000 !important;
  }
}
.btn,
.btn-default:active,
.btn-info:active {
  background-image: none;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.img-circle {
  border-radius: 50%;
}
h2,
h3,
h5 {
  line-height: 1.2;
  color: #616161;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h5 {
  font-size: 14px;
}
table {
  background-color: transparent;
}
ul {
  margin-top: 0;
}
ul ul {
  margin-bottom: 0;
}
ul {
  margin-bottom: 10px;
}
caption,
th {
  text-align: left;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}
caption {
  padding-top: 10px 10px;
  padding-bottom: 10px 10px;
  color: #bdbdbd;
}
.dropdown {
  position: relative;
}
.btn {
  line-height: 1.45;
  white-space: nowrap;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:active:focus,
.btn:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
.btn:focus,
.btn:hover {
  color: #616161;
  text-decoration: none;
}
.btn-default {
  background-color: #fafafa !important;
  color: #616161;
}
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
  color: #616161;
  background-color: #ededed !important;
  border-color: #ededed !important;
}
.btn-default:active,
.btn-default:focus {
  color: #616161;
  background-color: #e6e6e6;
  border-color: #c7c7c7;
}
.btn-info {
  background-color: #00bcd4 !important;
  border-color: #00bcd4 !important;
  color: #fff;
}
.btn-info:active,
.btn-info:focus,
.btn-info:hover {
  color: #fff;
  background-color: #00a5bb !important;
  border-color: #00a5bb !important;
}
.btn-info:hover {
  background-color: #00a5bb;
  border-color: #0098ab;
}
.btn-info:active,
.btn-info:focus {
  color: #fff;
  background-color: #0098ab;
  border-color: #008fa1;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.caret {
  width: 0;
  height: 0;
}
.dropdown-toggle:focus {
  outline: 0;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
}
.nav > li > a {
  position: relative;
  padding: 14px 16px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #e0e0e0;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  padding-bottom: 1px;
  border-bottom: 1px solid #e0e0e0;
}
.nav-tabs > li {
  float: left;
  background-color: #fff;
  margin: 2px 10px -1px;
}
.nav-tabs > li > a {
  line-height: 1.45;
  border: 1px solid transparent;
  border-radius: 2px 2px 0 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #9e9e9e;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-bottom-color: transparent;
  cursor: default;
}
.tab-content > .tab-pane {
  display: none;
  visibility: hidden;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group > .btn:hover {
  z-index: 2;
}
.btn .caret,
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group .dropdown-toggle:active {
  outline: 0;
}
#topnav .logo-area:after,
#topnav .logo-area:before,
#topnav .userinfo li a:after,
#topnav .userinfo li a:before,
#topnav a.username:after,
#topnav a.username:before,
#topnav:after,
#topnav:before,
.container-fluid:after,
.container-fluid:before,
.nav:after,
.nav:before,
.navbar:after,
.navbar:before,
.panel-body:after,
.panel-body:before,
.panel:after,
.panel:before {
  content: " ";
  display: table;
}
#topnav .logo-area:after,
#topnav .userinfo li a:after,
#topnav a.username:after,
#topnav:after,
.container-fluid:after,
.nav:after,
.navbar:after,
.panel-body:after,
.panel:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
:active,
:focus {
  outline: 0 !important;
}
:focus,
a {
  outline: 0;
}
::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
}
h2,
h3,
h5 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial,
    sans-serif;
}
h2 {
  font-weight: 300;
}
h3 {
  font-weight: 400;
}
h5 {
  font-weight: 700;
}
p {
  margin: 0 0 16px;
}
table > tbody > tr:last-child > th {
  border-bottom: 0;
}
table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
  border-top: 0;
}
table > thead > tr > th:first-child {
  border-top-left-radius: 2px;
}
table > thead > tr > th:last-child {
  border-top-right-radius: 2px;
}
table > tbody > tr:last-child > th:first-child {
  border-bottom-left-radius: 2px;
}
table > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 2px;
}
.btn:active {
  background-image: none;
}
.btn {
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
  -o-transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
}
.btn:active {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.btn-default {
  border-color: #e1e1e1 !important;
}
.btn-default:hover {
  background-color: #fff !important;
  border-color: #e0e0e0 !important;
}
.caret {
  border: 0;
}
.caret {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline;
  margin-left: 4px;
  vertical-align: initial;
  line-height: 1;
}
.caret:before {
  content: "\F107";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
}
.dropdown-menu {
  left: auto;
  right: 0;
  margin-top: 0;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32);
  background-color: #fff;
  padding: 8px 0;
}
.dropdown-menu > li > a {
  padding: 6px 16px;
}
.dropdown-menu.arrow:after,
.dropdown-menu.arrow:before {
  position: absolute;
  top: -8px;
  right: 12px;
  display: inline-block;
  content: "";
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.dropdown-menu.arrow:before {
  border-bottom: 8px solid #e0e0e0;
}
.dropdown-menu.arrow:after {
  border-bottom: 8px solid #fff;
}
.dropdown-menu .divider {
  margin: 8px 0;
}
.nav-tabs > li > a {
  margin-right: 0;
}
.nav-tabs > li > a:hover {
  border-color: #e0e0e0;
}
.btn.dropdown-toggle {
  min-width: 20px;
}
.btn-group {
  padding: 0;
}
.navbar {
  border: none !important;
}
#topnav.navbar-default .logo-area .toolbar-trigger a span.icon-bg {
  background-color: #fafafa;
}
#topnav.navbar-default .logo-area .toolbar-trigger a span.icon-bg i {
  color: #bdbdbd;
}
#topnav.navbar-default .logo-area .toolbar-trigger a:hover span.icon-bg {
  background-color: #f5f5f5;
}
#topnav.navbar-default .logo-area .toolbar-trigger a:hover span.icon-bg i {
  color: #212121;
}
#topnav.navbar-default .toolbar-icon-bg > a span.icon-bg,
#topnav.navbar-default .toolbar.pull-right .toolbar-icon-bg > a span.icon-bg {
  background-color: #fafafa;
}
#topnav.navbar-default .toolbar-icon-bg > a span.icon-bg i,
#topnav.navbar-default .toolbar.pull-right .toolbar-icon-bg > a span.icon-bg i {
  color: #bdbdbd;
}
#topnav.navbar-default .toolbar-icon-bg > a:hover span.icon-bg,
#topnav.navbar-default
  .toolbar.pull-right
  .toolbar-icon-bg
  > a:hover
  span.icon-bg {
  background-color: #f5f5f5;
}
#topnav.navbar-default .toolbar-icon-bg > a:focus,
#topnav.navbar-default .toolbar-icon-bg > a:hover,
#topnav.navbar-default .toolbar-icon-bg > a:hover span.icon-bg i,
#topnav.navbar-default .toolbar.pull-right .toolbar-icon-bg > a:focus,
#topnav.navbar-default .toolbar.pull-right .toolbar-icon-bg > a:hover,
#topnav.navbar-default
  .toolbar.pull-right
  .toolbar-icon-bg
  > a:hover
  span.icon-bg
  i {
  color: #212121;
}
#topnav.navbar-default .toolbar-icon-bg:hover span.icon-bg,
#topnav.navbar-default .toolbar.pull-right .toolbar-icon-bg:hover span.icon-bg {
  background-color: #f5f5f5;
  color: #212121;
}
#topnav.navbar-default a.username:focus,
#topnav.navbar-default a.username:hover,
#topnav.navbar-default a.username:visited {
  background-color: #fff;
}

.navbar-fixed-top {
  width: 100%;
  position: fixed !important;
}
#topnav {
  margin: 0;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
#topnav .navbar-brand {
  font: 0/0 a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
  height: 56px;
  width: 184px;
  padding: 16px 0 !important;
}
@media (max-width: 767px) {
  #topnav .navbar-brand {
    width: 68px;
  }
}
#topnav.navbar-default .navbar-brand {
  background: url(../../images/logo-dark.png) left 0 center no-repeat;
}
#topnav .navbar-brand {
  background: white left 0 center no-repeat;
}
#topnav .dropdown-menu {
  background-color: #fff;
  border: 0 solid #e0e0e0;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.24);
}
#topnav .logo-area,
#topnav .logo-area > a,
#topnav .logo-area > span {
  display: block;
  float: left;
}
#topnav .logo-area .toolbar-trigger a {
  display: block;
  margin-right: 24px;
}
#topnav .logo-area .toolbar-trigger a span.icon-bg {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
}
@media (min-width: 768px) {
  #topnav .logo-area {
    width: 456px;
    height: 56px;
    display: inline-block;
  }
}
#topnav .toolbar-icon-bg > a:focus,
#topnav .toolbar-icon-bg > a:hover {
  background-color: transparent;
}
#topnav .toolbar.pull-right .toolbar-icon-bg > a {
  padding: 8px 0;
}
#topnav .toolbar.pull-right .toolbar-icon-bg > a span.icon-bg {
  display: block;
  border-radius: 20px;
  padding: 0;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  height: 40px;
  width: 40px;
}
#topnav .toolbar.pull-right .toolbar-icon-bg > a .unread_count_badge {
  position: absolute;
  bottom: -6px;
  right: -5px;
  background: #388e3c;
  color: #fff;
  border: thin solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  z-index: 10;
}
#topnav .userinfo {
  min-width: 200px;
}
#topnav .userinfo li a {
  color: #616161;
}
#topnav .userinfo li a i {
  margin-right: 16px;
  color: #bdbdbd;
}
#topnav .userinfo li a:focus,
#topnav .userinfo li a:hover {
  color: #212121;
}
#topnav .userinfo li a:focus i,
#topnav .userinfo li a:hover i {
  color: #9e9e9e;
}
#topnav .navbar-nav.toolbar > li {
  float: left;
  margin-right: 8px;
}
#topnav .navbar-nav.toolbar > li > a {
  padding: 14px 16px;
}
#topnav .navbar-nav.toolbar > li:last-child {
  margin-right: 0;
}
#topnav a.username {
  padding: 8px 0 !important;
}
#topnav a.username img {
  height: 40px;
  width: 40px;
  float: right;
  border-radius: 50%;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar {
  position: relative;
  min-height: 56px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-brand {
  float: left;
  padding: 14px 0;
  font-size: 16px;
  line-height: 20px;
  height: 56px;
}
@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}
.navbar-nav {
  margin: 7px 0;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar-default {
  background-color: #fff;
  border-color: #eee;
}
.navbar-default .navbar-brand {
  color: #616161;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #484848;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #616161;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #212121;
  background-color: #fafafa;
}

.nav-tabs {
  position: relative;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover {
  color: #03a9f4;
  font-weight: 700;
}
[class*=" ti-"].ti {
  line-height: inherit;
}

i.ti {
  font-family: themify;
  font-style: normal;
}

.ti-world:before {
  content: "\e665";
}
.ti-menu:before {
  content: "\e68e";
}
.ti-layout-grid3-alt:before {
  content: "\e738";
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar > .container-fluid {
  margin: 0;
  padding: 0 50px;
}
@media only screen and (max-width: 890px) {
  #topnav.navbar-default .navbar-brand {
    width: 80px !important;
  }
}
#topnav .container-fluid {
  display: -ms-flexbox;
  display: flex;
}
#topnav .logo-area > span,
#topnav.navbar-default .navbar-brand {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
#topnav .container-fluid .logo-area {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
#topnav .container-fluid .app-instance-name {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  white-space: nowrap;
}
#topnav .container-fluid .app-instance-name > h2 {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
}
#topnav .container-fluid .nav.navbar-nav {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
#topnav.navbar-default {
  background: url(../../images/body-bg.jpg) top left no-repeat #f5f5f5;
  background-size: 100%;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#topnav .logo-area,
#topnav.navbar-default .navbar-brand {
  transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#topnav.navbar-default .navbar-brand {
  height: 74px;
  width: 246px;
  padding: 0 !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-size: auto 100%;
}
#topnav.navbar-default a.username {
  margin-left: 20px;
  background: 0 0 !important;
}
#topnav.navbar-default a.username:active,
#topnav.navbar-default a.username:focus,
#topnav.navbar-default a.username:hover,
#topnav.navbar-default a.username:visited {
  background: 0 0;
  opacity: 0.7;
}
#topnav .logo-area {
  height: 100px;
  line-height: 100px;
  width: auto;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#topnav .logo-area .toolbar-trigger a {
  padding: 0 2px;
  margin: 0;
}
#topnav .logo-area .toolbar-trigger a span.icon-bg {
  background-color: transparent !important;
  border: 1px solid #fff;
  position: relative;
}
#topnav .logo-area .toolbar-trigger a span.icon-bg i {
  color: #000 !important;
  position: relative;
  z-index: 2;
}
#topnav .logo-area .toolbar-trigger a span.icon-bg:after {
  width: 40px;
  content: "";
  height: 40px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background: #fff;
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}
#topnav .logo-area .toolbar-trigger a:hover .icon-bg:after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#topnav .navbar-nav {
  margin: 22px 0;
  padding-left: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#topnav .navbar-nav .dropdown-menu li a {
  padding: 0 14px;
  color: #666;
  font-size: 14px;
  line-height: 2.3em;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#topnav .navbar-nav .dropdown-menu li a i {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #000;
}

#topnav .toolbar a {
  padding: 0 2px;
  margin: 0;
}
#topnav .toolbar a span.icon-bg {
  background-color: transparent !important;
  border: 1px solid #fff;
  position: relative;
}
#topnav .toolbar a span.icon-bg i {
  color: #000 !important;
  position: relative;
  z-index: 2;
  font-size: 16px;
  text-indent: -0.025em;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#topnav .toolbar a span.icon-bg:after,
#topnav .toolbar  a .btn-default:after {
  width: 40px;
  content: "";
  height: 40px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background: #fff;
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}
#topnav .toolbar a:hover .icon-bg:after,
#topnav .toolbar  a:hover .btn-default:after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#topnav .toolbar .btn-default {
  color: #000 !important;
  position: relative;
  z-index: 2;
  font-size: 16px;
  text-indent: -0.025em;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: transparent !important;
}

#topnav .btn-default {
  display: block;
  border-radius: 20px;
  padding: 0;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  height: 40px;
  width: 40px;
}
