.sidebar {
  grid-area: sidebar;
  overflow: hidden;
}

.sidebar2 {
  grid-area: sidebar2;
  overflow: hidden;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.RunExperiment .panel-body {
  padding: 0 16px;
}

.RunExperiment .method a {
  font-size: 1.2em;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  flex: 0 1 auto;
}

.experiment-name {
  width: 180px;
  margin: 0 4px;
}
