.RunExperiment {
    display: grid;
    padding: 0 48px;
    grid-gap: 8px;
    grid-template-columns: 200px auto 200px;
    grid-template-areas:
      "header  header  header"
      "sidebar content sidebar2";
  }

  .sidebar {
    grid-area: sidebar;
  }

  .sidebar2 {
    grid-area: sidebar2;
  }

  .content {
    grid-area: content;
  }

  .header {
    grid-area: header;
  }

  .model-header {
    padding: 0;
    margin: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .RunExperiment .method a {
    font-size: 1.2em;
  }


.item {
  flex-grow: 1
  }
